.section {
    display: flex;
    flex-wrap: wrap;
    padding: 85px 190px 0px 163px;
    gap: 50px;
    align-items: center;
}
  
.section.reverse {
    flex-wrap: wrap-reverse;
}
  
.section_title {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.tile_title {
    color: var(--primary-text-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
  .tile_descripption{
    color: var(--secondary-text-color);
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
  }
  
  hr {
    margin: 0px;
    width: 60px;
    border: 1px solid var(--primary-text-color);
  }
  
  .block_image {
    flex: 1;
    max-width: 100%;
    height: auto;
  }
  .block_image img {
    width: 100%;
    min-width: 300px;
    padding: 0px 0px 100px 0px;
  }