@import url('https://fonts.googleapis.com/css?family=Mulish');

:root {
  font-family: 'Mulish', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #FFFFFF;
  --primary-text-color: #000000;
  --secondary-text-color: #7D7987;
  --logo-background-color: #458FF6;

  color: var(--primary-text-color);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited { 
  text-decoration: none;
}